.header {
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(101, 101, 104);
    color: darkseagreen;

}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header div{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    justify-content: space-around;

}

.header div ul{
    text-align: right;
    
}

.header div ul li {
    display: inline-block;
}

a {
    color: darkseagreen;
    text-decoration: underline;
}